body {
    margin: 0;
}

.first {
    color: white;
    background-color: #113f67;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: rgb(216, 216, 216);
}